config INPUT_INTEL_MID_VIBRA
	tristate "Support for Intel MID Vibrator"
	help
	This option enables support for Intel Mid Vibrator Driver. Say Y
	here if you want to enable the vibrator functionality for CTP

	To compile this driver as a module, choose M here. The module will
	be called intel_mid_vibra.

config INPUT_INTEL_MID_VIBRA_PF450CL
	tristate "Support for Intel MID Vibrator for PF450CL"
	depends on PF450CL
	default n
	help
	This option enables support for Intel Mid Vibrator Driver. Say Y
	here if you want to enable the vibrator functionality for CTP

	To compile this driver as a module, choose M here. The module will
	be called intel_mid_vibra.
