#
# Kconfig for ISP driver
#

config VIDEO_ATOMISP
       tristate "Intel Atom Image Signal Processor Driver"
        depends on VIDEO_V4L2
       select VIDEOBUF_VMALLOC
        ---help---
          Say Y here if your platform supports Intel Atom SoC
          camera imaging subsystem.
          To compile this driver as a module, choose M here: the
          module will be called atomisp

config VIDEO_ATOMISP_TMP
       tristate "temporary Kconfig variable for atomisp2"

config VIDEO_ATOMISP_CTP
       tristate "temporary Kconfig variable for atomisp2 on CTP"

source drivers/external_drivers/camera/drivers/media/pci/atomisp2/Kconfig