source "drivers/external_drivers/drivers/hsi/Kconfig"
source "drivers/external_drivers/drivers/hwmon/Kconfig"
source "drivers/external_drivers/drivers/modem_control/Kconfig"
source "drivers/external_drivers/drivers/modem_ap_cdmp/Kconfig"
source "drivers/external_drivers/drivers/misc/Kconfig"
source "drivers/external_drivers/drivers/i2c/busses/Kconfig"
source "drivers/external_drivers/drivers/input/Kconfig"
source "drivers/external_drivers/drivers/leds/Kconfig"
source "drivers/external_drivers/drivers/lpss/Kconfig"
source "drivers/external_drivers/drivers/nfc/Kconfig"
source "drivers/external_drivers/drivers/power/Kconfig"
source "drivers/external_drivers/drivers/staging/Kconfig"
source "drivers/external_drivers/drivers/pinctrl/Kconfig"
source "drivers/external_drivers/drivers/platform/x86/Kconfig"
source "drivers/external_drivers/drivers/regulator/Kconfig"
source "drivers/external_drivers/drivers/hsu/Kconfig"
source "drivers/external_drivers/drivers/mfd/Kconfig"
source "drivers/external_drivers/drivers/watchdog/Kconfig"
source "drivers/external_drivers/drivers/acpi/Kconfig"
source "drivers/external_drivers/drivers/pwm/Kconfig"
source "drivers/external_drivers/drivers/gps/Kconfig"
